<h1>
  User Import
</h1>

<!-- Output the raw data for now -->
<form [formGroup]="userForm">

  <table width="100%">
    <tr>
      <th>Naam</th>
      <th>E-mail</th>
      <th>Rol</th>
      <th>Status</th>
    </tr>
    <ng-container formArrayName="users">
      <tr *ngFor="let dataRow of users.controls; let i = index">
        <ng-container [formGroupName]="i">
          <ng-container *ngIf="toonText(dataRow); else edit">
            <td>{{ dataRow.value.name }}</td>
            <td>{{ dataRow.value.email }}</td>
            <td>{{ dataRow.value.role }}</td>
            <td>{{ dataRow.value.status }}</td>
          </ng-container>
          <ng-template #edit>
            <td><input formControlName="name"></td>
            <td><input formControlName="email"></td>
            <td><input formControlName="role"></td>
            <td>{{ dataRow.value.status }}</td>
          </ng-template>
        </ng-container>
      </tr>
    </ng-container>
  </table>
</form>


<button type="button" (click)="clickSubmit()">
  Submit
</button>
